---
import Base from "@layouts/Base.astro";
import TitleBar from "@components/TitleBar.astro";
import Gallery from "@components/Gallery.astro";
---

<Base>
  <TitleBar />
  <div class="w-full h-full p-4">
    <Gallery />
  </div>
</Base>
